<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>College Feedback</title>
</head>

<body>
    {%extends 'base.html%}
    {% block content %}
    <h2 class="mb-4 text-center">Welcome to Student Feedback Portal</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <img src="../static/img/college.jpg" alt="college Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        Vasavi Institute of Techonology
                    </h5>
                    <p class="card-text">
                        Vasavi offers undergraduate and postgraduate programs in engineering and technology across
                        various disciplines including Computer Science, Information Technology, Electronics and
                        Communication, Electrical and Electronics, Mechanical, and Civil Engineering. The college is
                        known for its industry-oriented curriculum, experienced faculty, and emphasis on research and
                        development.
                    </p>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item">Modern Labs & Infrastructure</li>
                        <li class="list-group-item">Exprienced Faculty</li>
                        <li class="list-group-item">Industry-Ready Curriculum</li>
                        <li class="list-group-item">Placement Assistance</li>
                        <li class="list-group-item">Regular Workshops & Seminars</li>
                    </ul>
                    <a href="/feedback" class="btn btn-primary">Submit Feedback</a>
                    <a href="/admin" class="btn btn-secondary">Admin Panel</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>